doctype html
html(lang='en')
  head
    block style
      link(rel="stylesheet" href="/assets/css/global.css")
  body
    #content
      block content
    footer
      block footer
        p Proudly powered by <a href="https://github.com/gamified-reading/habitica-boss" target="_blank" rel="noopener">habitica-boss</a>, a free and open-source framework for running boss-like challenges on Habitica.
        p.codewithlove: a(href="https://seewitheyesclosed.com" rel="noopener" target="_blank") &lt;/&gt; with &lt;3 by Benjamin Hollon
